@use '~@angular/material' as mat;
@import 'globals/variables';

button {
  margin: $bq-base-margin $bq-base-margin $bq-base-margin 0;
  text-transform: uppercase;
}

.Tertiary { // stylelint-disable-line selector-class-pattern
  background-color: transparent;
  color: mat.get-color-from-palette($bq-tertiary-palette);

  &.mat-raised-button {
    background-color: mat.get-color-from-palette($bq-tertiary-palette);
    color: mat.get-color-from-palette($bq-tertiary-palette, default-contrast);
  }
}

::ng-deep {
  .Tertiary { // stylelint-disable-line selector-class-pattern
    .mat-button-focus-overlay {
      background-color: mat.get-color-from-palette($bq-tertiary-palette, 0.12);
    }
  }

  // Default buttons in cards or elevated widgets get a slightly darker background compared to default
  // buttons in transparent containers.
  .card,
  .flow-widget.elevate {
    .default-styling {
      background: $bq-card-button-background;
    }
  }
}
