@use '~@angular/material' as mat;
@import 'globals/variables';

::ng-deep {
  .mat-tab-body {
    margin: $bq-margin $bq-margin 0;
  }
}

mat-icon {
  color: mat.get-color-from-palette($bq-error-palette, 800);
}
