@use '~@angular/material' as mat;
@import '~@angular/material/theming';
@import 'globals/variables';
@import 'globals/images';

$bq-footer-height: 200px;

.header {
  @include mat.elevation(1);

  position: fixed;
  width: 100%;
  z-index: $z-index-drawer + 10;
}

.page {
  margin-bottom: $bq-margin-double;
}

/* There could be more toolbars on the page
*  this takes care for at least 5 toolbars
*/
@for $i from 0 through 5 {
  .margin-#{$i} {
    @if $header-display == none {
      padding-top: $bq-toolbar-height * $i;
    } @else {
      padding-top: $bq-toolbar-height * ($i + 1);
    }
  }
}

footer {
  max-width: 1080px;
  margin: 0 auto;
  color: $dark-secondary-text;
  text-align: center;

  .img-logo {
    @include image('../../..' + $url-img-logo, 100px, 40px);
  }

  a {
    color: $dark-secondary-text;
    font-style: normal;
    text-decoration: none;

    &:hover,
    &:visited {
      color: $dark-primary-text;
    }
  }

  address {
    font-size: $font-size-footer-address;
    line-height: $default-line-height;
  }

  .mat-divider {
    margin-bottom: 48px;
  }

  &::after {
    display: block;
    height: 50px;
    content: '';
  }
}
