@use '~@angular/material' as mat;
@import 'globals/variables';

// IE ONLY
// The rule below is used to fix vertical alignment issues, due to a flexbox bug in IE.
// Can be removed when support for IE is dropped.
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .mat-cell,
  .mat-header-cell,
  .mat-footer-cell {
    min-height: 0;
  }
}

table {
  width: 100%;
}

:host ::ng-deep {
  .mat-row {
    &:hover {
      background-color: mat.get-color-from-palette($bq-mat-grey-light, 50);
    }
  }

  /* Header cell has base margins
  *  where the cells itself have the half margin padding and half margin margin.
  */
  .mat-header-cell {
    padding-left: $bq-base-margin;
  }

  .mat-cell {
    padding-left: $bq-margin-half;

    bq-asset,
    bq-table-readonly {
      display: inline-block;
      margin-left: $bq-margin-half;
    }

    input,
    mat-checkbox,
    mat-select {
      margin-left: $bq-margin-half;
    }

    bq-container {
      width: 100%;
    }
  }
}
