@use '~@angular/material' as mat;
@import 'globals/variables';

:host {
  width: 100%;
  height: 100%;

  .sort-toggle {
    &.none {
      visibility: hidden;
    }
  }

  ::ng-deep {
    bq-textitem-static {
      color: mat.get-color-from-palette($bq-mat-grey-medium, 300);
      font-size: $font-size-list-header;
      font-weight: 500;
    }
  }

  &:hover {
    .sort-toggle {
      &.none {
        visibility: visible;
      }
    }
  }
}

.mat-icon {
  font-size: $font-size-list-header-icon;
  font-weight: 800;
}
