@use '~@angular/material' as mat;
@import 'globals/variables';

button {
  &.plain-link {
    color: mat.get-color-from-palette($bq-primary-palette);
    text-transform: uppercase;

    &:hover {
      text-decoration: underline;
    }
  }
}
