@use '~@angular/material' as mat;
@use '~@angular/cdk' as cdk;
@import 'globals/variables';
@import '~@angular/material/theming';
@import 'globals/images';

.error-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $z-index-drawer + 200;

  .notification-error {
    background-color: mat.get-color-from-palette($bq-error-palette);
  }

  .notification-expired,
  .notification-logged-out {
    background-color: mat.get-color-from-palette($bq-mat-primary-blue, 500);
  }

  .image {
    margin-top: $bq-margin-triple;

    .img-oops {
      @include image('../../..' + $url-img-oops, 175px, 175px);
    }

    .img-session-expired {
      @include image('../../..' + $url-img-session-expired, 175px, 175px);
    }

    .img-logged-out {
      @include image('../../..' + $url-img-logged-out, 175px, 175px);
    }
  }

  .notification {
    @include mat.elevation(2);

    width: 350px;
    padding: $bq-margin;
    color: $white-87-opacity;
    text-align: center;

    .title,
    .message,
    .details {
      width: 250px;
      word-wrap: break-word;
    }

    .title {
      margin-bottom: $bq-margin;
      font-size: 48px;
      font-weight: normal;
    }

    .message {
      font-size: 16px;
    }

    .details {
      padding: $bq-margin;
      background-color: $bq-white-37-opacity;
    }

    .button {
      width: 100%;

      button {
        text-transform: uppercase;
      }
    }
  }
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: cdk.$overlay-backdrop-color;
  z-index: $z-index-drawer + 100;
}
