@use '~@angular/material' as mat;
@import 'globals/variables';

$bq-transparent-error-color: mat.get-color-from-palette($bq-error-palette, 500, 0.8);

::ng-deep {
  .tooltip-error {
    background: $bq-transparent-error-color;
    white-space: pre-line;
  }
}

:host ::ng-deep {
  /* Adjust the form-fields to fit in a table */
  .mat-form-field-appearance-fill,
  .mat-form-field-flex,
  .mat-form-field-infix {
    display: flex;
    align-items: center;
    border-top: 0;
    background-color: mat.get-color-from-palette($bq-mat-grey-light, a100);

    .mat-form-field-prefix {
      margin: 0 2px 0 $bq-margin-half;
    }

    .mat-form-field-suffix {
      margin: 0 $bq-margin-half 0 2px;
    }
  }

  .mat-form-field {
    width: 100%;

    /* When a field has messages this class will be set */
    &.validations {
      .mat-form-field-flex {
        border: 1px solid $bq-transparent-error-color;
        color: $bq-transparent-error-color;
      }
    }
  }

  /* Only underline the fields when hovered upon */
  .mat-form-field-wrapper {
    padding-bottom: 0;

    .mat-form-field-underline {
      display: none;
      bottom: 0;
    }

    &:hover {
      .mat-form-field-underline {
        display: block;
      }
    }
  }
}
