@use '~@angular/material' as mat;
@import 'globals/variables';

// This style uses double flex layout due to vertical alignment of icon and content

.text-item {
  display: flex;
  color: $dark-primary-text;
  font-size: $default-font-size;
  line-height: $default-line-height;

  .gutter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 15px;
    padding: 4px 6px;
  }

  .text {
    display: flex;
  }

  .aligner {
    align-self: center;
  }

  &.warning,
  &.Warning { // stylelint-disable-line selector-class-pattern
    .gutter {
      background-color: mat.get-color-from-palette($bq-warn-palette, 100);
      color: mat.get-color-from-palette($bq-warn-palette, 800);
    }
  }

  &.danger,
  &.Danger { // stylelint-disable-line selector-class-pattern
    .gutter {
      background-color: mat.get-color-from-palette($bq-error-palette, 100);
      color: mat.get-color-from-palette($bq-error-palette, 800);
    }
  }

  &.info,
  &.Info { // stylelint-disable-line selector-class-pattern
    .gutter {
      background-color: mat.get-color-from-palette($bq-info-palette, 100);
      color: mat.get-color-from-palette($bq-info-palette, 800);
    }
  }

  &.success,
  &.Success { // stylelint-disable-line selector-class-pattern
    .gutter {
      background-color: mat.get-color-from-palette($bq-success-palette, 100);
      color: mat.get-color-from-palette($bq-success-palette, 800);
    }
  }

  ::ng-deep {
    .emphasis {
      font-weight: bold;
    }

    .subtle {
      text-decoration: underline;
    }

    .intense {
      font-style: italic;
    }
  }
}
