@import '~@angular/material/theming';
@import 'globals/variables';

.mat-button,
.mat-menu-item {
  color: $light-primary-text;
  font-size: $default-font-size;
  font-weight: 400;
  text-transform: uppercase;

  .mat-icon {
    width: $default-font-size;
    height: $default-font-size;
    margin: 0;
    color: $light-primary-text;
    font-size: $default-font-size;
  }
}

bq-menu-item > * > .mat-menu-item {
  color: $dark-primary-text;
  text-transform: uppercase;
}
