@use '~@angular/material' as mat;
@import 'globals/variables';

.margin {
  margin: $bq-margin-half;
}

.header {
  margin: $bq-margin-half 0;
  color: $dark-secondary-text;
}

button {
  &.plain-link {
    color: mat.get-color-from-palette($bq-primary-palette);

    &:hover {
      text-decoration: underline;
    }
  }
}
