@use '~@angular/material' as mat;
@import 'globals/variables';

.mat-table {
  width: 100%;

  .mat-row {
    &.highlight {
      animation: highlight 3s;
    }
  }
}

.no-results-text {
  padding: $bq-margin $bq-margin-double;
  color: $dark-primary-text;
  font-size: $default-font-size;
  line-height: $default-line-height;
}

@keyframes highlight {
  0% {
    background: mat.get-color-from-palette($bq-mat-primary-blue, a400);
  }

  100% {
    background: none;
  }
}
